.teamhead-container {
    background-image:url('../../public/gorelist.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    width:100%;
    position: relative;
    background-color: var(--bg);
    font-family: 'Lato';
    padding:130px 45px;
    display: flex;
    flex-direction: row;
    position:relative;
}
 
.teamhead-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width:60%;
    justify-content: center;
}

.teamhead-title {
    display: flex;
    flex-direction: row;
}
.teamhead-text h1{
    color:var(--gold);
    font-size:80px;
    font-family: 'Mrs Saint Delafield';
    max-width:72%;
    margin-left:28%;
}

.teamhead-text h6{
    color:var(--gold);
    font-size:32px;
    font-weight: 300;
    max-width: 240px;
    padding-bottom:20px;
    text-transform: uppercase;
    max-width:72%;
    margin-left:28%;
}

.teamhead-text p {
    font-size:18px;
    color:var(--text);
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 400;
    display: relative;
    max-width:72%;
    margin-left:28%;
}

.teamhead-img:after {
    content:'';
    display: inline-block;
    width:35%;
    height: 2px;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:60%;
    right:-40%;
}

.teamhead-img {
    background-image: url('../../public/smeh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:40%;
    height:calc(35vw);
    border:3px double #9e8a4c;
    position: relative;
}