

.teamhyg-title1{
    background-color: var(--bg);
    justify-content: center;
    padding-top:140px;
    font-size: 70px;
    line-height: 90px;
    letter-spacing: 6px;
    display: flex;
    font-family: 'Great Vibes';
    font-style: italic;
}

.teamhyg-container {
    background-image:url('../../public/list.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position:left;
    width:100%;
    position: relative;
    background-color: var(--bg);
    font-family: 'Lato';
    padding:120px 45px;
    display: flex;
    flex-direction: row;
    position:relative;
  }
  
  .teamhyg-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width:60%;
    justify-content: center;
  }
  
  .teamhyg-title {
    display: flex;
    flex-direction: row;
  }
  .teamhyg-text h1{
    color:var(--gold);
    font-size:80px;
    font-family: 'Mrs Saint Delafield';
  }
  
  .teamhyg-text h6{
    color:var(--gold);
    font-size:32px;
    font-weight: 300;
    max-width: 72%;
    padding-bottom:20px;
    text-transform: uppercase;
  }
  
  .teamhyg-text p {
    font-size:18px;
    color:var(--text);
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 400;
    display: relative;
    max-width:72%;
  }
  
  .teamhyg-img::after {
    content:'';
    width:35%;
    height: 1px;
    background-color: black;
    position: absolute;
    top:60%;
    left:-40%;
  }
  
  .teamhyg-img {
    background-image: url('../../public/homeDiff.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:40%;
    height:calc(35vw);
    border:3px double #9e8a4c;
    position: relative;
  }