.teamassistents-container {
    background-image:url('../../public/list.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    width:100%;
    position: relative;
    background-color: var(--bg);
    padding:60px 45px;
    display: flex;
    flex-direction: row;
    font-family: 'Lato';
}

.teamassistents-text {
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teamassistents-text p:before {
    content:'';
    display: inline-block;
    width:35%;
    height: 1px;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    left:-22%;
    margin-right:30px;
    transform:translate(-50%)
}

.teamassistents-title1{
    background-color: var(--bg);
    justify-content: center;
    padding-top:140px;
    padding-bottom:40px;
    font-size: 70px;
    line-height: 90px;
    letter-spacing: 6px;
    display: flex;
    font-family: 'Great Vibes';
    font-style: italic;
}

.teamassistents-text h6{
    color:var(--gold);
    font-size:32px;
    font-weight: 300;
    max-width: 240px;
    padding-bottom:20px;
    text-transform: uppercase;
    max-width:72%;
    margin-left:30%;
}

.teamassistents-text p {
    font-size:18px;
    color:var(--text);
    text-transform: uppercase;
    line-height: 28px;
    max-width:70%;
    font-weight: 400;
   margin-left: 30%;
   position:relative;
}

.teamassistents-img {
    width:40%;
    background-image: url('../../public/smeh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(35.00vw);
    border:3px double #9e8a4c;
} 

.teamassistents-call a {
    padding:15px 80px;
    background-color: var(--gold);
    letter-spacing: 3px;
    transition: 2s;
    position:absolute;
    left:50%;
    top:75%;
    transform: translate(-50%,-50%);
    display: inline-block;
   overflow: hidden;
   color:var(--bg);
   font-weight: 700;
   cursor: pointer;
   text-transform: uppercase;
}

.teamassistents-call a:before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:100%;
    background:rgba(255,255,255,0.5);
    transform:skewX(45deg) translateX(450px);
    transition:1s;
    overflow: hidden;
}

.teamassistents-call a:hover:before {
    transform:translateX(-350px) skewX(45deg);

}

.teamassistents-call a:hover {
    background-color: var(--text);
}