.contactlast-container {
    background-image: url('../../public/gorelist.png');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
    display: flex;
    width: 100%;
    padding-top:120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'lato';
    gap:50px;
    color:var(--text);
    background-color: var(--bg);
}

.contactlast-container h6 {
    background-color: var(--bg);
    justify-content: center;

    font-size: 70px;
    line-height: 90px;
    letter-spacing: 6px;
    display: flex;
    font-family: 'Great Vibes';
    font-weight: 300;
}

.contactlast-container p {
    font-size: 20px;
    line-height:28px;
    max-width:40%;
}

.contactlast-container a {
    padding:15px 60px;
    background-color: var(--gold);
    letter-spacing: 3px;
    transition: 2s;
    position: relative;
    display: inline-block;
   overflow: hidden;
   color:var(--bg);
   font-weight: 700;
   cursor: pointer;
   margin: 15px;
}

.contactlast-container a:before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:100%;
    background:rgba(255,255,255,0.5);
    transform:skewX(45deg) translateX(350px);
    transition:1s;
    overflow: hidden;
}

.contactlast-container a:hover:before {
    transform:translateX(-350px) skewX(45deg);

}

.contactlast-container a:hover {
    background-color: var(--text);
}

@media only screen and (max-width:600px) {
    .contactlast-container {
        width: 100%;
        padding:40px 15px 60px 15px;
        gap:10px;
    }
    
    .contactlast-container h6 {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 5px;
        max-width: 100%;
        padding-left: 15px;
    }
    
    .contactlast-container p {
        font-size: 14px;
        line-height:24px;
        max-width:100%;
        margin:30px 0;
    }
    
    .contactlast-container a {
        text-align: center;
      width:100%;
       margin: 0px;
    }
    
    .contactlast-container a:before {
        transform:skewX(45deg) translateX(550px);
    }

}