.firstvisittwo-container {
    background-image:url('../../public/gorelist.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    width:100%;
    position: relative;
    background-color: var(--bg);
    font-family: 'Lato';
    padding:120px 45px;
    display: flex;
    flex-direction: row;
    position:relative;
}
 
.firstvisittwo-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width:60%;
    justify-content: center;
}

.firstvisittwo-title {
    display: flex;
    flex-direction: row;
}

.firstvisittwo-text .number02{
    color:var(--gold);
    font-size:80px;
    font-family: 'Mrs Saint Delafield';
    transition: 1s;
    max-width:72%;
    margin-left:28%;
}
.firstvisittwo-text .bignumber02{
    color:var(--gold);
    scale:1.1;
    font-size:80px;
    font-family: 'Mrs Saint Delafield';
    transition: 1s;
    opacity:0;
    max-width:72%;
    margin-left:28%;
}

.firstvisittwo-text h6{
    color:var(--gold);
    font-size:32px;
    font-weight: 300;
    max-width: 240px;
    padding-left: 15px;
    padding-top:20px;
    text-transform: uppercase;
    max-width:72%;
}

.firstvisittwo-text p {
    font-size:18px;
    color:var(--text);
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 400;
    display: relative;
    max-width:72%;
    margin-left:28%;
}

.firstvisittwo-img:after {
    content:'';
    display: inline-block;
    width:35%;
    height: 1px;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:60%;
    right:-40%;
}
 
.firstvisittwo-img {
    background-image: url('../../public/smeh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width:40%;
    height:calc(35vw);
    border:3px double #9e8a4c;
    position: relative;
}

@media only screen and (max-width: 1000px) {
    .firstvisittwo-container {
        padding:80px 15px;
    }
}

@media only screen and (max-width:700px) {
    .firstvisittwo-container {
        padding:60px 15px;
        flex-direction: column;
    }
    .firstvisittwo-img {
        width:100%;
        height:calc(80vw);
    }
     
    .firstvisittwo-text { 
        width:100%;
    }
    .firstvisittwo-title {
        flex-direction: column;
    }
    .firstvisittwo-text .number02{
        font-size:80px;
        max-width:100%;
        margin-left:0%;
        padding-top:20px
    }
    .firstvisittwo-text .bignumber02{
        font-size:80px;
        max-width:100%;
        margin-left:0%;
        padding-top:20px
    }
    
    .firstvisittwo-text h6{
        font-size:32px;
        max-width: 100%;
        padding-left: 0px;
        padding-top:0px;
        padding-bottom:10px;
    }
    
    .firstvisittwo-text p {
        font-size:14px;
        line-height: 28px;
        max-width:100%;
        margin-left:0%;
    }
    
    .firstvisittwo-img:after {
     display: none;
    }
     
  
}