.firstvisitthree-container {
  background-image:url('../../public/gorelist.webp');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position:left;
  width:100%;
  position: relative;
  background-color: var(--bg);
  font-family: 'Lato';
  padding:120px 45px;
  display: flex;
  flex-direction: row;
  position:relative;
}

.firstvisitthree-text {
  display: flex;
  flex-direction: column;
  position: relative;
  width:60%;
  justify-content: center;
}

.firstvisitthree-title {
  display: flex;
  flex-direction: row;
}

.firstvisitthree-text .number03{
  color:var(--gold);
  font-size:80px;
  font-family: 'Mrs Saint Delafield';
  transition: 1s;

}
.firstvisitthree-text .bignumber03{
  color:var(--gold);
  scale:1.1;
  font-size:80px;
  font-family: 'Mrs Saint Delafield';
  transition: 1s;
  opacity:0;

}

.firstvisitthree-text h6{
  color:var(--gold);
  font-size:32px;
  font-weight: 300;
  max-width: 240px;
  padding-left: 15px;
  padding-top:20px;
  text-transform: uppercase; 
  text-shadow: 0.4px 0.4px var(--gold);
}

.firstvisitthree-text p {
  font-size:18px;
  color:var(--text);
  text-transform: uppercase;
  line-height: 28px;
  font-weight: 400;
  display: relative;
  max-width:72%;
}

.firstvisitthree-img::after {
  content:'';
  width:35%;
  height: 1px;
  background-color: black;
  position: absolute;
  top:60%;
  left:-40%;
}

.firstvisitthree-img {
 
  width:40%;
  height:calc(35vw);
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .firstvisitthree-container {
      padding:80px 15px;
  }
}

@media only screen and (max-width:700px) {
  .firstvisitthree-container {
      padding:60px 0px;
      flex-direction: column-reverse;
  }
  .firstvisitthree-img {
      width:100%;
      height:calc(80vw);
  }
   
  .firstvisitthree-text { 
      width:100%;
      padding:0 15px 0 15px;
  }
  .firstvisitthree-title {
      flex-direction: column;
  }
  .firstvisitthree-text .number03{
    font-size:80px;
    max-width:100%;
    margin-left:0%;
    padding-top:20px
}
  .firstvisitthree-text .bignumber03{
      font-size:80px;
      max-width:100%;
      margin-left:0%;
      padding-top:20px
  }
  
  .firstvisitthree-text h6{
      font-size:32px;
      max-width: 100%;
      padding-left: 0px;
      padding-top:0px;
      padding-bottom:10px;
  }
  
  .firstvisitthree-text p {
      font-size:14px;
      line-height: 28px;
      max-width:100%;
      margin-left:0%;
  }
  
  .firstvisitthree-img:after {
   display: none;
  }
   

}