.full-container-video {
    background-image:url('../../public/list.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    width:100%;
    position: relative;
    background-color: var(--bg);
    font-family: 'Lato';
    padding:170px 45px;
    display: flex;
    flex-direction: row;
    position:relative;
}

.container-video {
    width:40%;
    height: calc(26vw);
    display: flex;
    flex-direction: row;
    margin-right:10%;
}

.video-left {
    background-image: url('../../public/smeh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: calc(35.00vw);
    border:3px double #9e8a4c;
}

.video-text {
    font-family: 'Great Vibes';
    font-size:64px;
    font-weight: 300;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.video-text p{
    max-width:75%;
    margin-left:25%;
}
.video-text:before {
    content: "";
    position: absolute;
    left:-20%;
    top:50%;
    width:35%;
    height:1px;
    background-color: black;
    display: inline-block;
    margin-left:30px;
}

@media only screen and (max-width: 600px) {
    .full-container-video {
        flex-direction: column;
        padding:60px 15px;
    }
    .container-video {
        width:100%;
        margin-right:0;
        height: calc(80vw);
    }
    .video-text{
        width: 75%;
        font-size: 44px;
        margin:auto;
        padding:100px 0 60px 0;
        text-align: center;
    }
    .video-left {
        height: calc(80vw);
    }
    .video-text:before {
        display:none;
    }
    .video-text p{
        max-width:100%;
        margin-left:0%;
    }
}