.firstvisitone-container {
    background-image:url('../../public/gorelist.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position:left;
    width:100%;
    position: relative;
    background-color: var(--bg);
    font-family: 'Lato';
    padding:120px 45px;
    display: flex;
    flex-direction: row;
    position:relative;
}

.firstvisitone-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width:60%;
    justify-content: center;
}

.firstvisitone-title {
    display: flex;
    flex-direction: row;
}
.firstvisitone-text .number01{
    color:var(--gold);
    font-size:80px;
    font-family: 'Mrs Saint Delafield';
    transition: 1s;
}
.firstvisitone-text .bignumber01{
    color:var(--gold);
    scale:1.1;
    font-size:80px;
    font-family: 'Mrs Saint Delafield';
    transition: 1s;
    opacity:0;
}

.firstvisitone-text h6{
    color:var(--gold);
    font-size:32px;
    font-weight: 300;
    max-width: 240px;
    padding-left: 15px;
    padding-top:20px;
    text-transform: uppercase;
}

.firstvisitone-text p {
    font-size:18px;
    color:var(--text);
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 400;
    display: relative;
    max-width:72%;
}

.firstvisitone-img::after {
    content:'';
    width:35%;
    height: 1px;
    background-color: black;
    position: absolute;
    top:60%;
    left:-40%;
}

.firstvisitone-img {
    background-image: url('../../public/smeh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width:40%;
    height:calc(35vw);
    border:3px double #9e8a4c;
    position: relative;
}


@media only screen and (max-width: 1000px) {
    .firstvisitone-video {
        padding:80px 15px;
    }
}

@media only screen and (max-width: 700px) {
    .firstvisitone-container {
        padding:0px 15px;
        flex-direction: column-reverse;
    }
    .firstvisitone-img {
        height:calc(80vw);
        width:100%;
    }
    .firstvisitone-text {
        width:100%;
    
    }
    .firstvisitone-title {
        flex-direction: column;
    }
    .firstvisitone-title .number01 {
        font-size: 80px;
        padding-top:20px;   
    }
    .firstvisitone-title .bignumber01 {
        font-size: 80px;
        padding-top:20px;   
    }
    .firstvisitone-text h6{
        padding-left: 0px;
        padding-bottom:10px;
        padding-top:0px;
        font-size: 32px;
        max-width:100%;
    }
    .firstvisitone-text p {
        font-size:14px;
        max-width: 100%;
    }
}