.firstvisitthree-container {
  background-image:url('../../public/list.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position:left;
  width:100%;
  position: relative;
  background-color: var(--bg);
  font-family: 'Lato';
  padding:120px 45px;
  display: flex;
  flex-direction: row;
  position:relative;
}

.firstvisitthree-text {
  display: flex;
  flex-direction: column;
  position: relative;
  width:60%;
  justify-content: center;
}

.firstvisitthree-title {
  display: flex;
  flex-direction: row;
}
.firstvisitthree-text h1{
  color:var(--gold);
  font-size:80px;
  font-family: 'Mrs Saint Delafield';
}

.firstvisitthree-text h6{
  color:var(--gold);
  font-size:32px;
  font-weight: 300;
  max-width: 240px;
  padding-left: 15px;
  padding-top:20px;
  text-transform: uppercase;
}

.firstvisitthree-text p {
  font-size:18px;
  color:var(--text);
  text-transform: uppercase;
  line-height: 28px;
  font-weight: 400;
  display: relative;
  max-width:72%;
}

.firstvisitthree-img::after {
  content:'';
  width:35%;
  height: 1px;
  background-color: black;
  position: absolute;
  top:60%;
  left:-40%;
}

.firstvisitthree-img {
  background-image: url('../../public/smeh.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width:40%;
  height:calc(35vw);
  border:3px double #9e8a4c;
  position: relative;
}