.smilecareone-container {
    background-image:url('../../public/cvece.png');
    background-repeat: no-repeat;
    background-size:500px;
    background-position: center;
    width:100%;
    height:600px;
    position: relative;
    background-color: var(--bg);
    font-family: 'Lato';
    padding:130px 120px;
    display: flex;
    flex-direction: row;
    position:relative;
}

.smilecareone-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width:80%;
    margin-right:250px;
}

.smilecareone-text p:after {
    content:'';
    display: inline-block;
    width:50%;
    height: 1px;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:50%;
    left:100%;
    margin-left:30px;
}


.smilecareone-title {
    display: flex;
    flex-direction: row;
}
.smilecareone-text h1{
    color:var(--gold);
    font-size:50px;
    font-family: 'Mrs Saint Delafield';
}

.smilecareone-text h6{
    color:var(--gold);
    font-size:32px;
    font-weight: 400;
    max-width: 240px;
    padding-left: 15px;
    padding-top:20px;
    text-transform: uppercase;
}

.smilecareone-text p {
    font-size:16px;
    color:var(--text);
    padding-top:20px;
    text-transform: uppercase;
    line-height: 28px;
    width:100%;
}

.smilecareone-img {
    background-image: url('../../public/smeh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:300px;
    border:3px double #9e8a4c;
}