.smilecare-container {
    background-image:url('../../public/list.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position:left;
    width:100%;
    position: relative;
    background-color: var(--bg);
    font-family: 'Lato';
    padding:120px 45px;
    display: flex;
    flex-direction: row;
    position:relative;
  }
  
  .smilecare-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width:60%;
    justify-content: center;
  }

  
  .smilecare-text h6{
    color:var(--gold);
    font-size:38px;
    font-weight: 300;
    max-width: 72%;
    padding-bottom:20px;
    text-transform: uppercase;
    text-shadow: 0.4px 0.4px var(--gold);
  }
  
  .smilecare-text p {
    font-size:18px;
    color:var(--text);
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 400;
    display: relative;
    max-width:72%;
    margin-bottom:10px;
  }
  .smilecare-text li {
    font-size:18px;
    color:var(--text);
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 400;
    display: relative;
    max-width:72%;
    margin-left: 40px;
  }
  
  .smilecare-img::after {
    content:'';
    width:35%;
    height: 1px;
    background-color: black;
    position: absolute;
    top:60%;
    left:-40%;
  }
  
  .smilecare-img {
    background-image: url('../../public/F3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width:40%;
    height:calc(35vw);
    position: relative;
  }

  @media only screen and (max-width:1000px) {
    .smilecare-container {
      padding:45px 15px;
  }
}


  @media only screen and (max-width:700px) {

  .smilecare-container {
    padding:45px 0px;
    flex-direction: column-reverse;
  }
  
  .smilecare-text {
    width:100%;
    padding:0px 15px 0 15px;
  }

  
  .smilecare-text h6{
    font-size:32px;
    max-width: 100%;
    padding-top: 40px;
  }
  
  .smilecare-text p {
    font-size:14px;
    max-width:100%;
  }
  .smilecare-text li {
    font-size:14px;
    max-width:100%;
  }
  
  .smilecare-img::after {
display: none;
  }
  
  .smilecare-img {
    width:100%;
    height:calc(80vw);
    margin-bottom: 40px;
  }

  }





  




  