.smiledark-container {
    background-color: var(--bg);
    overflow: hidden;
    position: relative;
}

.smiledark-topimg {
    background-image: url('../../public/dark.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100px;
    opacity:1;
    position: relative;
    background-color: var(--bg);
    top:10px;
} 

.smiledark-text {
    background-color: #262626;
    font-size: 22px;
    line-height: 45px;
    color:#fff;
    margin:auto;
    padding:60px 0;
    font-style: italic;
    position: relative;
    letter-spacing: 0.3px;
    display: flex;
    justify-content: center;
}

.smiledark-text p {
    font-family: 'Lato'; 
    width:67%; 
}

.smiledark-text p:before {
    content: "";
    position:absolute;
    left:-35%;
    top:50%;
    width: 30%;
    height:1px;
    background-color: var(--gold);
}
.smiledark-text p:after {
    content: "";
    position:absolute;
    right:-35%;
    top:50%;
    width: 30%;
    height:1px;
    background-color: var(--gold);
}

.smiledark-text .span-b {
    display:block;
    align-items: right;
    text-align: right;
    font-size: 28px;
    line-height: 30px;
    transition: 1s;
    opacity:1;
    transform: translate3d(100px,0px,0px);
    transform-style: preserve-3d;
    font-family: 'Great Vibes';
    letter-spacing: 4px;
}
.smiledark-text .span-B {
    display:block;
    align-items: right;
    text-align: right;
    font-size: 28px;
    line-height: 30px;
    transition: 1s;
    opacity:1;
    transform: translate3d(500px,0px,0px);
    transform-style: preserve-3d;
    font-family: 'Great Vibes';
}

.smiledark-text .span-A {
    display:block;
    opacity:0;
    align-items: right;
    text-align: right;
    font-size: 28px;
    line-height: 30px;
    transition:1s;
    transform: translate3d(500px,0px,0px);
    transform-style: preserve-3d;
    font-family: 'Great Vibes';
}

.smiledark-botimg {
    background-image: url('../../public/darkbot.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100px;
    opacity:1;
    position: relative;
    top:-10px;
} 

@media only screen and (max-width:600px) {
  
    
    .smiledark-text {
        font-size: 14px;
        line-height: 22px;
     
        margin:auto;
        padding:30px 15px;
        letter-spacing: 2px;
    }
    
    .smiledark-text p {
        font-family: 'Lato'; 
        width:100%; 
    }
    
    .smiledark-text p:before {
       display: none;
    }
    .smiledark-text p:after {
      display: none;
    }
    
    .smiledark-text .span-b {
        transform: translate3d(000px,0px,0px);
        transform-style: preserve-3d;
        font-size: 18px;
    }
    
    .smiledark-text .span-B {  
        transform: translate3d(200px,0px,0px);
        transform-style: preserve-3d;
        font-size: 18px;
    }

}