.smilecosmetic-container {
    background-image:url('../../public/gorelist.png');
    background-repeat: no-repeat;
    background-size:20%;
    background-position: right;
    width:100%;
    position: relative;
    background-color: var(--bg);
    font-family: 'Lato';
    padding:130px 45px;
    display: flex;
    flex-direction: row;
    position:relative;
}
 
.smilecosmetic-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width:60%;
    justify-content: center;
}

.smilecosmetic-text h6{
    color:var(--gold);
    font-size:32px;
    font-weight: 300;
    max-width: 240px;
    padding-bottom:20px;
    text-transform: uppercase;
    max-width:72%;
    margin-left:28%;
}

.smilecosmetic-text p {
    font-size:18px;
    color:var(--text);
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 400;
    display: relative;
    max-width:72%;
    margin-left:28%;
}

.smilecosmetic-img:after {
    content:'';
    display: inline-block;
    width:35%;
    height: 1px;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:60%;
    right:-40%;
}

.smilecosmetic-img {
    background-image: url('../../public/smeh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width:40%;
    height:calc(35vw);
    position: relative;
}

@media only screen and (max-width:1000px) {
  .smilecosmetic-container {
    padding:60px 15px;
}
}

@media only screen and (max-width:700px) {

    .smilecosmetic-container {
      padding:70px 0px;
      flex-direction: column;
    }
    
    .smilecosmetic-text {
      width:100%;
      padding:0px 15px 0 15px;
    }
  
    
    .smilecosmetic-text h6{
      font-size:32px;
      max-width: 100%;
      margin-left:0%;
      padding-top: 60px;
    }
    
    .smilecosmetic-text p {
      font-size:14px;
      max-width:100%;
      margin-left:0%;
    }
    
    .smilecosmetic-img::after {
  display: none;
    }
    
    .smilecosmetic-img {
      width:100%;
      height:calc(80vw);
      margin-bottom: 40px;
    }
  
    }
  