.homesmile-container {
    background-image:url('../../public/list.png');
    background-repeat: no-repeat;
    background-size:40%;
    background-position: right;
    width:100%;
    position: relative;
    background-color: var(--bg);
    padding:150px 45px;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
}

.homesmile-text {
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homesmile-text p:before {
    content:'';
    display: inline-block;
    width:35%;
    height: 1px;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    left:-22%;
    margin-right:30px;
    transform:translate(-50%)
}


.homesmile-title {
    display: flex;
    flex-direction: row;
}

.homesmile-text h6{
    color:var(--gold);
    font-size:36px;
    line-height: 36px;
    font-weight: 300;
    max-width: 78%;
    text-transform: uppercase;
    margin:30px 0 25px;
    margin-left: 30%;
    text-shadow: 0.4px 0.4px var(--gold);
}

.homesmile-text p {
    font-size:18px;
    color:var(--text);
    text-transform: uppercase;
    line-height: 28px;
    max-width:70%;
    font-weight: 400;
   margin-left: 30%;
   position:relative;
}

.homesmile-img {
    width:40%;
    background-image: url('../../public/klassaTop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: calc(35.00vw);  
}

.homesmile-call {
    position:absolute;
    left:50%;
    top:75%;
    transform: translate(-50%,-50%);
}
.homesmile-call a {
    padding:15px 70px;
    background-color: var(--gold);
    letter-spacing: 3px;
    transition: 2s;
    position: relative;
    overflow: hidden;
   display: inline-block;
   color:var(--bg);
   font-weight: 700;
   cursor: pointer;
   font-family: 'lato';
   text-transform: uppercase;
   text-align: center;
   white-space: nowrap;
}

.homesmile-call a:before {
    content: '';
    position:absolute;
    left:0;
    top:0;
    width:50px;
    height:100%;
    background:rgba(255,255,255,0.5);
    transform:skewX(45deg) translateX(450px);
    transition:1s;
    overflow: hidden;
}

.homesmile-call a:hover:before {
    transform:translateX(-350px) skewX(45deg);

}

.homesmile-call a:hover {
    background-color: var(--text);
}

@media only screen and (max-width: 1200px) {
    .homesmile-call {
        top:92%
    }
}

@media only screen and (max-width: 1000px) {
    .homesmile-container {
        padding:80px 45px;
    }
}
@media only screen and (max-width: 700px) {
.homesmile-call a {
    padding:15px 40px;
    width:100%;
}
.homesmile-container {
    flex-direction: column;
    padding:40px 0px 120px 0px;
}
.homesmile-img {
    width:100%;
    height: calc(80vw);
}
.homesmile-text {
    width: 100%;
    padding:0 15px 0 15px;
}

.homesmile-text p {
    margin-left: 0;
    max-width:100%;
    font-size: 14px;
}
.homesmile-text h6 {
    max-width:100%;
    font-size: 32px;
    margin-left: 0;
}

.homesmile-text p:before {
    display: none;
}
}