.homepassion-container {
    background-image:url('../../public/cvece.png');
    background-repeat: no-repeat;
    background-size:500px;
    background-position: left;
    width:100%;
    position: relative;
    background-color: var(--bg);
    padding:200px 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homepassion-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width:47%;
}

.homepassion-text h6{
    font-family: 'Great Vibes';
    font-size:72px;
    font-weight: 300;
    width:60%;
    justify-content: center;
}
.homepassion-text h5{
    font-family: 'Great Vibes';
    font-size:72px;
    font-weight: 300;
    width:70%;
    justify-content: center;
    padding-left: 10px;
}

.homepassion-text h6:after{
    position: absolute;
    content:'';
    right:5%;
    top:50%;
    width:25%;
    height:1px;
    background-color: var(--text);
    
} 
.homepassion-img {
    background-image: url('../../public/smeh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width:53%;
    height: calc(25.00vw);
    border:3px double #9e8a4c;
}

.homepassion-call a {
    padding:15px 70px;
    left:35%;
    top:80%;
    background-color: var(--gold);
    letter-spacing: 3px;
    transition: 2s;
    position: absolute;
    overflow: hidden;
   color:var(--bg);
   font-weight: 700;
   cursor: pointer;
   font-family: 'lato';
   
}

.homepassion-call a:before {
    content: '';
    position:absolute;
    left:0;
    top:0;
    width:50px;
    height:100%;
    background:rgba(255,255,255,0.5);
    transform:skewX(45deg) translateX(650px);
    transition:1s;
    overflow: hidden;
}

.homepassion-call a:hover:before {
    transform:translateX(-350px) skewX(45deg);

}

.homepassion-call a:hover {
    background-color: var(--text);
}

@media only screen and (max-width: 1224px) {
    .homepassion-text h5 {
        width:100%;
    }
    .homepassion-text h6 {
        width:100%;
    }
}

@media only screen and (max-width: 1000px) {
    .homepassion-container {
        padding:120px 45px;
    }
}
@media only screen and (max-width: 700px){
    .homepassion-call a {
        left:50%;
        transform:translateX(-50%);
        top:92%;
        width:100%;
        text-align: center;
    }

    .homepassion-text {
        width:100%;
        text-align: center;
    }
    .homepassion-text h5 {
        font-size: 50px;
        width:100%;
    }
    .homepassion-text h6 {
        font-size: 50px;
        padding-top:30px;
        width:100%;
    }
    .homepassion-text h6:after {
        display: none;
    }

    .homepassion-container {
        flex-direction: column-reverse;
        padding:120px 15px;
        padding-bottom:100px;
    }

    .homepassion-img {
            width:100%;
            height: calc(80vw);
          
    }
    
}
