.homebelong-container {
    background-image:url('../../public/list.png');
    background-repeat: no-repeat;
    background-size:40%;
    background-position: right;
    width:100%;
    position: relative;
    background-color: var(--bg);
    padding:60px 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
}

.homebelong-text {
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:70px;
}

.homebelong-text p:before {
    content:'';
    display: inline-block;
    width:35%;
    height: 1px;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    left:-22%;
    margin-right:30px;
    transform:translate(-50%)
}

.homebelong-title1{
    background-color: var(--bg);
    justify-content: center;
    padding-top:120px;
    text-align: center;
    font-size: 70px;
    line-height: 90px;
    letter-spacing: 6px;
    display: flex;
    font-family: 'Great Vibes';
}

.homebelong-text p {
    font-size:18px;
    color:var(--text);
    text-transform: uppercase;
    line-height: 30px;
    max-width:70%;
    font-weight: 400;
   margin-left: 30%;
   position:relative;
}

.homebelong-img {
    width:40%;
    background-image: url('../../public/M2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: calc(35.00vw);
} 

.homebelong-call a {
    padding:15px 80px;
    background-color: var(--gold);
    letter-spacing: 3px;
    transition: 2s;
    position:absolute;
    left:50%;
    top:75%;
    transform: translate(-50%,-50%);
    display: inline-block;
   overflow: hidden;
   color:var(--bg);
   font-weight: 700;
   cursor: pointer;
   text-transform: uppercase;
   white-space: nowrap;
}

.homebelong-call a:before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:100%;
    background:rgba(255,255,255,0.5);
    transform:skewX(45deg) translateX(450px);
    transition:1s;
    overflow: hidden;
}

.homebelong-call a:hover:before {
    transform:translateX(-350px) skewX(45deg);

}

.homebelong-call a:hover {
    background-color: var(--text);
}

@media only screen and (max-width: 1000px) {
    .homebelong-call a {
        top:85%
    }
    .homebelong-title1 {
        padding:60px 0px 0px 0px;
        line-height: 70px;
    }
    .homebelong-container {
        padding:60px 45px 120px 45px;
    }

}

@media only screen and (max-width: 700px) {
    .homebelong-text p:before {
        display: none;
    }

    .homebelong-container {
        flex-direction: column;
        padding:10px 0px 40px 0px;
    }
    .homebelong-img {
        width:100%;
        height: calc(80vw);
        margin-bottom: 40px;
    }
    .homebelong-text {
        width:100%;
        padding:0 15px 30px 15px;
        
    }
    .homebelong-text p{
        max-width:100%;
        margin-left: 0%;
        font-size: 14px;
    }
    .homebelong-text h6 {
        max-width: 100%;
        font-size: 32px;
       
    }

    .homebelong-title1 {
        font-size: 50px;
        padding-top:30px;
    }
    
    .homebelong-call  a {
        margin:20px 0;
        font-size: 15px;
        padding:15px 50px;
    }
  
}