.home-home {
  position:relative;
}

.homepage-container {
  height:550px;
    max-width:100%;
    margin-top: 160px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../public/smeh.jpg');
    background-color: var(--text);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    align-items: center;
    overflow: hidden;
}

.homepage-text {
    font-family: 'Lato';
    letter-spacing: 6px;
    text-transform: uppercase;
    position:relative;
    display:block;
    padding:30px;
    z-index:20;
    position:relative;
    cursor:default;

}
.homepage-text p {
    transition:5s;
    animation: lettersFromTop 0.4s;
    font-size: 20px;
    font-weight:300;   
    color:#9e8a4c;
    display:block;
    position: relative;
    text-align: center;
}

.homepage-text h6 {
    transition:5s;
    animation: lettersScale 1.2s;
    font-size: 50px;
    font-family: 'Lato';
    font-weight:300;   
    letter-spacing: 7px;
    color:#fff;
    text-align:center;
    line-height: 60px;
    margin-bottom: 10px;
}


.homepage-text:before {
  background-color:#9e8a4c;
  content: "";
  display: inline-block;
  height: 1px;
  position: absolute;
  left:-150%;
  width: 150%;
  top:50%;
  animation: lettersScale 1s;
}

.homepage-text:after {
    background-color: #9e8a4c;
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    right:-150%;
    width:150%;
    top:50%;
    animation: lettersScale 1s;
  }

  .bottom-img {
    background-image: url('../../public/ivicadole.png');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100px;
    opacity:1;
    position:absolute;
    bottom:-30px;
    left:0;
  }

  @media only screen and (max-width: 600px) {
    .homepage-text h6 {
      font-size: 30px;
      line-height: 40px;
    }
    .homepage-container {
      height: 300px;
    }
    
   

  }