.homedifference-container {
    background-image:url('../../public/cvece.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    position:relative;
    width:100%; 
    background-color: var(--bg);
    padding:200px 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
}

.homedifference-text {
    width:50%;
    display: flex;
    flex-direction: column;
    margin-bottom:60px;
}

.homedifference-text h6{
    color:var(--gold);
    font-size:36px;
    line-height: 36px;
    font-weight:300;
    max-width: 78%;
    text-transform: uppercase;
    margin:30px 0 25px;
    
}

.homedifference-text p {
    font-size:18px;
    color:var(--text);
    text-transform: uppercase;
    line-height: 30px;
    max-width:78%;
    font-weight: 400;
}

.homedifference-img {
    width:50%;
    background-image: url('../../public/smeh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: calc(25.00vw);
    border:3px double #9e8a4c;
}

.homedifference-call  a{
    padding:15px 70px;
    position:absolute;
    left:50%;
    top:85%;
    transform: translate(-50%,-50%);
    background-color: var(--gold);
    letter-spacing: 3px;
    transition: 2s;
    display: inline-block;
   overflow: hidden;
   color:var(--bg);
   font-weight: 700;
   cursor: pointer;
    white-space: nowrap;
}

.homedifference-call a:before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:100%;
    background:rgba(255,255,255,0.5);
    transform:skewX(45deg) translateX(450px);
    transition:1s;
    overflow: hidden;
}

.homedifference-call a:hover:before {
    transform:translateX(-350px) skewX(45deg);

}

.homedifference-call a:hover {
    background-color: var(--text);
}

@media only screen and (max-width: 1000px) {
    .homedifference-container {
        padding:80px 45px;
    }
}

@media only screen and (max-width: 700px) {
    .homedifference-container {
        flex-direction: column-reverse;
        padding: 40px 15px;
    }
    .homedifference-img {
        width:100%;
        height: calc(80vw);
    }
    .homedifference-text {
        width:100%;
    }
    .homedifference-text p{
        max-width:100%;
        font-size: 14px;
    }
    .homedifference-text h6 {
        max-width: 100%;
        font-size: 32px;
        padding-top:30px;
    }
    
    .homedifference-call  a {
        top:92%;
        margin:20px 0;
        font-size: 15px;
 
    }
    
}