.storyfacelast-container {
    background-image: url('../../public/gorelist.png');
    background-repeat: no-repeat;
    background-size: 200px; 
    background-position: left;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'lato';
    gap:50px;
    padding:100px 45px;
    color:var(--text);
    background-color: var(--bg);
    position: re;
}

.storyfacelast-container p {
    font-size: 20px;
    line-height:28px;
    font-weight: 400;
}

.storyface-div a {
    padding:15px 70px;
    background-color: var(--gold);
    letter-spacing: 3px;
    transition: 2s;
    position: relative;
    display: inline-block;
   overflow: hidden;
   color:var(--bg);
   font-weight: 700;
   cursor: pointer;
   margin:0 20px;
}

.storyface-div a:before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:100%;
    background:rgba(255,255,255,0.5);
    transform:skewX(45deg) translateX(350px);
    transition:1s;
    overflow: hidden;
}

.storyface-div a:hover:before {
    transform:translateX(-350px) skewX(45deg);

}

.storyface-div a:hover {
    background-color: var(--text);
}