.story-story {
  position: relative;
}

.storyimage-container {
  height:730px; 
  max-width:100%;
  margin-top: 160px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../public/c2.webp');
  background-color: var(--text);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position:relative;
  align-items: center;
  overflow: hidden;
  text-shadow: 0.4px 0.4px var(--gold);
  letter-spacing: 8px;
  font-style: oblique;
  margin-bottom: 30px;
} 


.storyimage-text {
  font-family: 'Lato';
  letter-spacing: 6px;
  text-transform: uppercase;
  position:relative;
  display:block;
  padding:30px;
  z-index:20;
  position:relative;
  cursor:default;
}
.storyimage-text h1 {
    transition:5s;
    animation: lettersScale 1.2s;
    font-size: 56px;
    font-weight:300;   
    color:#9e8a4c;
    display:block;
    position: relative;
    text-align: center;
}

.storyimage-text:before {
  background-color:#9e8a4c;
  content: "";
  display: inline-block;
  height: 1px;
  position: absolute;
  left:-160%;
  width: 150%;
  top:50%;
  animation: lettersScale 1s;
}

.storyimage-text:after {
    background-color: #9e8a4c;
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    right:-160%;
    width:150%;
    top:50%;
    animation: lettersScale 1s;
  }

  .storybottom-img {
    background-image: url('../../public/ivicadole.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100px;
    opacity:1;
    position:absolute;
    bottom:-30px;
    left:0;
  }

  @media only screen and (max-width: 768px) {
    .storyimage-text h1 {
      font-size: 35px;
      line-height: 40px;
    }
  }

  
  @media only screen and (max-width: 700px) {
    .storyimage-text h1 {
      font-size: 35px;
      line-height: 40px;
    }
    .storyimage-container {
      height: 330px;
    }
    .storyimage-text:before {
      left:-152%;
    }
    
    .storyimage-text:after {
        right:-152%;
      }
  }