

.afterslide5-container {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    flex-wrap: wrap;
    padding-bottom:50px;
    background-image:url('../../public/list.png');
    background-size:  40%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--bg);
}

.afterslide5-holder {
    width:50%;
    height:250px;
    position:relative;
    overflow:hidden;
    cursor: pointer;
    margin-top:80px;
    margin-bottom:120px;
}

.slide5-back {
    background-image: url("/cink2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left:10%;
    margin-right:10%;
    width:80%;
    height:80%;
    position:absolute;
    left:0%;
    top:20%;
    filter:brightness(30%); 
    transition: 1.5s;
}

.slide5-front {
    background-image: url("/cink1.jpg");
    background-repeat: no-repeat;
    margin-left:10%;
    margin-right:10%;
    background-position: center;
    width:80%;
    height:80%;
    position:absolute;
    left:10%;
    top:20%;
    transition: 1.5s;
}

.afterslide5-holder:hover .slide5-front {
    transform: translate3d(80%,0,0);
    transform-style: preserve-3d;
    transition:1.5s;
}
.afterslide5-holder:hover .slide5-back{
    filter:brightness(100%);
    transition: 1.5s;
}

.afterslide5-text {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width:40%;
    margin:auto;
    font-family: 'Lato';
 
}

.afterslide5-text p {
    line-height: 28px;
    font-weight: 400;
    color:var(--text);
    font-size:18px;
    margin-bottom:30px;
    text-transform: uppercase;
}

.afterslide5-text h1 {
    font-weight: 300;
    font-size:32px;
    text-transform: uppercase;
    color:var(--gold);
    margin-bottom:30px;
    text-shadow: 0.4px 0.4px var(--gold);
}

.slide-right5 {
    display: none;
   right:15%;
   top:-5%;
    
    font-size: 50px;
    position:absolute;
    font-weight: 700;
    cursor: pointer;
}
.slide-left5 {
    display: none;
    left:15%;
    top:-5%;
     
     font-size: 50px;
     position:absolute;
     font-weight: 700;
     cursor: pointer;
}
@media only screen and (max-width:1000px) {
    .afterslide5-title {
        padding:60px;
    }
}

@media only screen and (max-width:700px) {
    .afterslide5-title {
        background-color: var(--bg);
        justify-content: center;
        padding:100px 15px 60px 15px;
        font-size: 50px;
        letter-spacing: 5px;
    }
    .afterslide5-container {
        flex-direction: column-reverse;
        padding-bottom:0px;
    }

    .afterslide5-text {
        width:90%;
        margin:auto;
        margin-top:20px;
    }

    .afterslide5-text p {
        font-size:14px;
    }
    
    .afterslide5-text h1 {
        font-size:26px;
        margin-bottom:10px;
    }
    .slide-left5,
    .slide-right5 {
        display: block;
        font-weight: 400;
    cursor: default;
    }

    .afterslide5-holder {
        width:100%;
        margin-top:30px;
    }
    
    .slide5-back {
        width:100%;
        height:80%;

        top:20%;
        transform: translate(0%);
        margin-left:0%;
        margin-right:0%;
    }
    
    .slide5-front {
        width:100%;
        height:80%;
        left:10%;
        top:20%;
        transform: translate(0%);
        margin-left:0%;
        margin-right:0%;
    }
    .afterslide5-holder:hover .slide5-front {
        transform: none;
    }
    
}