.afterslide-title {
    background-color: var(--bg);
    justify-content: center;
    padding:120px;
    font-size: 70px;
    line-height: 90px;
    letter-spacing: 6px;
    display: flex;
    font-family: 'Great Vibes';
    font-weight: 300;
}

.afterslide-container {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    flex-wrap: wrap;
    padding-bottom:50px;
    background-image:url('../../public/list.png');
    background-size: contain;
    background-color: var(--bg);
}
.afterslideL-container {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    flex-wrap: wrap;
    padding-bottom:50px;
    background-image:url('../../public/list.png');
    background-size: contain;
    background-color: var(--bg);
}

.afterslide-holder {
    width:35%;
    height:200px;
    position:relative;
    overflow:hidden;
    cursor: pointer;
    margin:auto;
    margin-top:80px;
    margin-bottom:120px;
    border-top:1px solid #9e8a4c;
    border-bottom:1px solid #9e8a4c;
    border:3px double #9e8a4c;
}



.slide-back {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin:auto;
    filter:brightness(30%);
    
}

.slide-front {
    width:100%;
    height:100%;
    position:absolute;
    left:10%;
    top:0;
    background-repeat: no-repeat;
    background-size:100% 100%;
    transition:1s;
    margin:auto;
}

.afterslide-holder:hover .slide-front {
    transform: translate3d(100%,0,0);
    transition:1.5s;
}
.afterslide-holder:hover .slide-back {
    filter:brightness(100%);
    transition:1.5s;
}

.afterslide-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width:45%;
    height:200px;
    margin:auto;
    margin-top:80px;
}

.afterslide-text p {
    text-align: center;
    font-weight: 300;
    color:var(--text);
    font-size:18px;
    margin-bottom:30px;
}

.afterslide-text h1 {
    text-align: center;
    font-weight: 300;
    font-size:28px;
    color:var(--gold);
    margin-bottom:30px;
}

.slide-right {
   left:3%;
   top:0%;
    color:var(--text);
    font-size: 50px;
    position:absolute;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .afterslide-title {
        background-color: var(--bg);
        justify-content: center;
        padding:80px 15px 0px 15px;
        font-size: 50px;
        letter-spacing: 5px;
    }
    
    .afterslideL-container {
        flex-direction: column;
        padding-bottom:50px;
    }
    .afterslide-container {
        flex-direction: column-reverse;
        padding-bottom:50px;
    }
    
    .afterslide-holder {
        width:90%;
        height:200px;
        margin-top:0px;
        margin-bottom:0px;
    }

    .afterslide-text {
        width:90%;
        margin:auto;
        margin-top:20px;
    }

    .afterslide-text p {
        font-size:14px;
    }
    
    .afterslide-text h1 {
        font-size:26px;

    }

    
}