.diffthree-container {
    background-image:url('../../public/gorelist.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position:left;
    width:100%;
    position: relative;
    background-color: var(--bg);
    font-family: 'Lato';
    padding:120px 45px;
    display: flex;
    flex-direction: row;
    position:relative;
  }
  
  .diffthree-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width:60%;
    justify-content: center; 
  }
  
  .diffthree-title {
    display: flex;
    flex-direction: row;
  } 
   
  .diffthree-text .numberD03{
    color:var(--gold);
    font-size:80px;
    font-family: 'Mrs Saint Delafield';
    transition: 1s;
  
  }
  .diffthree-text .bignumberD03{
    color:var(--gold);
    scale:1.1;
    font-size:80px;
    font-family: 'Mrs Saint Delafield';
    transition: 1s;
    opacity:0;
  
  }
  
  .diffthree-text h6{
    color:var(--gold);
    font-size:32px;
    font-weight: 300;
    max-width: 340px;
    padding-left: 15px;
    padding-top:20px;
    text-transform: uppercase; 
    text-shadow: 0.4px 0.4px var(--gold);
  }
  
  .diffthree-text p {
    font-size:18px;
    color:var(--text);
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 400;
    display: relative;
    max-width:72%;
    margin-top: 20px;
  }
  
  .diffthree-img::after {
    content:'';
    width:35%;
    height: 1px;
    background-color: black;
    position: absolute;
    top:60%;
    left:-40%;
  }
  
  .diffthree-img {
    background-image: url('../../public/smeh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width:40%;
    height:calc(35vw);
    position: relative;
  }
  
  @media only screen and (max-width: 1000px) {
    .diffthree-container {
        padding:80px 15px;
    }
  }
  
  @media only screen and (max-width:700px) {
    .diffthree-container {
        padding:60px 0px;
        flex-direction: column-reverse;
    }
    .diffthree-img {
        width:100%;
        height:calc(80vw);
    }
     
    .diffthree-text { 
        width:100%;
        padding:0 15px 0 15px;
    }
    .diffthree-title {
        flex-direction: column;
    }
    .diffthree-text .numberD03{
      font-size:80px;
      max-width:100%;
      margin-left:0%;
      padding-top:20px
  }
    .diffthree-text .bignumberD03{
        font-size:80px;
        max-width:100%;
        margin-left:0%;
        padding-top:20px
    }
    
    .diffthree-text h6{
        font-size:32px;
        max-width: 100%;
        padding-left: 0px;
        padding-top:0px;
        padding-bottom:10px;
    }
    
    .diffthree-text p {
        font-size:14px;
        line-height: 28px;
        max-width:100%;
        margin-left:0%;
    }
    
    .diffthree-img:after {
     display: none;
    }
     
  
  }