.connect-container {
    background-image:url('../public/list.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    width:100%;
    position: relative;
    background-color: var(--bg);
    font-family: 'Lato';
    padding:160px 45px ;
    display: flex;
    flex-direction: row;
    position:relative;
    justify-content: center;
    align-items: center;
}

.connect-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width:50%;
}

.connect-text p:after {
    content:'';
    display: inline-block;
    width:20%;
    height: 1px;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    right:5%;
    
}


.connect-title {
    display: flex;
    flex-direction: row;
}

.connect-text h6{
    color:var(--gold);
    font-size:36px;
    line-height: 36px;
    font-weight: 300;
    text-transform: uppercase;
    max-width:72%;
}

.connect-text p {
    font-size:18px;
    color:var(--text);
    padding:20px 0;
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 400;
    width:100%;
    margin-bottom: 20px;
    max-width:72%;
}

.connect-text a {
    color:var(--gold);
    cursor: pointer;
    text-decoration: none;
}

.connect-img {
    background-image: url('../public/smeh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:50%;
    height:calc(35vw);
    border:3px double #9e8a4c;
}

.connect-call a {
    padding:15px 80px;
    width:72%;
    background-color: var(--gold);
    letter-spacing: 3px;
    transition: 2s;
    position: relative;
    display: inline-block;
   overflow: hidden;
   color:var(--bg);
   font-weight: 700;
   cursor: pointer;
   text-align: center;
   
}

.connect-call a:before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:100%;
    background:rgba(255,255,255,0.5);
    transform:skewX(45deg) translateX(550px);
    transition:1s;
    overflow: hidden;
}

.connect-call a:hover:before {
    transform:translateX(-350px) skewX(45deg);

}

.connect-call a:hover {
    background-color: var(--text);
}

.connect-call2 a {
    width:72%;
    padding:15px 80px;
    background-color: var(--gold);
    letter-spacing: 3px;
    transition: 2s;
    position: relative;
    display: inline-block;
   overflow: hidden;
   color:var(--bg);
   font-weight: 700;
   cursor: pointer;
   text-align: center;
}

.connect-call2 a:before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:100%;
    background:rgba(255,255,255,0.5);
    transform:skewX(45deg) translateX(550px);
    transition:1s;
    overflow: hidden;
}

.connect-call2 a:hover:before {
    transform:translateX(-350px) skewX(45deg);

}

.connect-call2 a:hover {
    background-color: var(--text);
}

@media only screen and (max-width: 970px) {
    .connect-call2 a {
        padding:15px 40px;
    }
    .connect-call a {
        padding:15px 40px;
    } 
}

@media only screen and (max-width: 600px) {
    .connect-container {
        padding:20px 15px 120px 15px;
        flex-direction: column-reverse;
    }
    .connect-img {
        width:100%;
        height: calc(80vw);
    }
    .connect-text {
        width:100%;
    }

    .connect-text p {
        max-width: 100%;
        font-size: 14px;
    }
    .connect-text h6 {
        max-width: 100%;
        padding-top:30px;
        font-size: 32px;
    }
    .connect-text p:after {
        display: none;
    }
    .connect-call{
        width:100%;
    }
    .connect-call a {
        width: 100%;
    }
    .connect-call2 a {
        width: 100%;
    }
}