.foot {
    position: relative;
}

.footer-container {
    background-color:#262626;;
    display: flex;
    justify-content: space-between;
    position:relative;
    padding-top: 10px;
}

.footer-text {
    margin-left:50px;
    color:#fff;
    font-size:20px;
    line-height: 36px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    letter-spacing: 3px;
    padding-bottom:40px;
    cursor: pointer;
    
}

.footer-passus {
    margin-bottom:40px;
    transition:0.3s;
}

.footer-passus:hover {
    color: var(--gold);
}

.footer-number:hover {
    color: var(--gold); 
    transition:0.3s;
}

.footer-icon {
    margin-right:50px;
    font-size:50px;
    color:#fff;
}

.footer-a a {
    margin:10px; 
    cursor: pointer;
}

.footer-top-img {
    background-image: url('../public/dark.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100px;
    opacity:1;
    background-color: var(--bg);
    position:absolute;
    top:-90px;
    left:0;
}

@media only screen and (max-width: 600px) {
    .footer-text {
        font-size: 12px;
        line-height: 21px;
        margin-left:30px;
    }
    .footer-icon {
        margin-right: 30px;
    }
    .footer-a a {
        margin:0;
    }
    .footer-number a{
        cursor:default;
    }
    .footer-passus {
        cursor:default;
    }
}