.menu-container {
    z-index:90;
    position:fixed;
    top:0;
    left:0;
    bottom:0; 
    right:0;
    width:100%;
    opacity:0.95 ;
    background-color: var(--text);
    padding-top: 225px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato';
    font-weight: 300;
    transition:1s;
    animation: lettersSmaller 0.4s;
}

.menu-paths {
    color:white;
    list-style: none;
    background-color: transparent;
    text-align: center;
    max-width: 350px;
}

.menu-paths li {
    display: inline-block;
    padding:7px 35px;
    margin-bottom: 12px;
    font-size: 18px;
    letter-spacing: 4px;
    cursor: pointer;
}

.menu-paths li:hover {
    background-color: var(--gold);
    transition:1s;
}
