
.navigation-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left:0;
    top:0;
    background-color: #ffffff;
    z-index:100;
    width:100%;
    align-items: center; 
    font-size: 17px;
    color:#231F20;
    font-weight:600;
}
.navigation-container-fix {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left:0;
    top:0;
    z-index:100;
    background-color: #ffffff;
    width:100%;
    align-items: center;
    font-size: 17px;
    color:#231F20;
    font-weight:600;
    animation:fromTop 0.6s;

} 

.nav-only {
    display:flex;
    justify-content: space-between;
    position: absolute;
    left:0;
    top:0;
    z-index:100;
    height: 130px;
    background-color: #ffffff;
    width:100%;
    align-items: center;
    font-size: 17px;
    color:#231F20;
    font-weight:600;
    animation:lettersFromTop 2s; 
}
 
.logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Tangerine';
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.logo h1 {
    color:#1a1818;
}

.logo h1 span {
    color:#9e8a4c;
}

.call {
    display:block;
    margin-left: 80px;
    font-family: 'Tangerine';
    font-size: 50px;
    font-weight: 700;
    color:#9e8a4c;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    margin-bottom:100px;
}
.poziv {
    position: absolute;
    left:0;
    transition: 0.4s;
    opacity: 1;
    padding:30px;
    transform:translate3d(0px, 0px, 0px) ;
    transform-style: preserve-3d;
} 
.call:hover .poziv {
    opacity:0;
    transform:translate3d(-100px, 0px, 0px) ;
    transform-style: preserve-3d;
    padding:30px;
}

.number {
    position: absolute; 
    left:50px;
    transition: 0.4s;
    opacity: 0;
    padding:30px;
    transform:translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
}
.call:hover .number{
    opacity:1;
    left:0;
    transform:translate3d(-10px, 0px, 0px);
    transform-style: preserve-3d;
    padding:30px;
}

.menu {
    display: block;
    margin-right: 100px;
    font-family: 'Tangerine';
    font-size: 40px;
    font-weight: 700;
    color:#9e8a4c;
    cursor: pointer;
    max-width:100px;
    position:relative;
    margin-bottom: 100px;
    left:-6%;
}

.menus {
    position: absolute;
    opacity:1;
    left:0px;
    transition:0.4s;
    transform: translate3d(-95px,0px,0px);
    transform-style :preserve-3d;
    padding:30px;
 
}

.menusH {
    position: absolute;
    opacity:0;
    left:0px;
    transition: 0.4s;
    transform: translate3d(-200px,0px,0px);
    transform-style :preserve-3d; 
    padding:30px;
  
}


.close {
    position: absolute;
    opacity:0;
    right:0px;
    transition:0.4s;
    transform: translate3d(-100px,0px,0px);
    transform-style :preserve-3d;
    padding:30px;
}

.closeH {
    position: absolute;
    opacity:1;
    right:0px;
    transition: 0.4;
    transform: translate3d(10px,0px,0px);
    transform-style :preserve-3d;
    padding:30px;
}

.menu-hidden {
    display: none;
}
.menu-visible {
    display: block;
}

.nav-img {
    background-image: url('../public/ivica.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width:100%; 
    height: 100px;
    margin-top: 128px;
    opacity:1;
    z-index:100;
}

@media only screen and (max-width: 1000px) {
    .call {
        margin-left: 30px;}
        .menu {
            margin-right:30px;

        }
}
 
@media only screen and (max-width: 700px) {

    .call {
        margin-left: 0px;
        margin-right:0px;
        font-size: 28px;
    }

    .menu {
        margin-right:0px;
        font-size: 28px;
    }

    .logo {
        margin-top:30px;
        font-size: 16px;
    }

    .closeH {
     
        transform: translate3d(0px,0px,0px);
    }

    .call:hover .poziv {
        opacity:1;
        transform:translate3d(0px, 0px, 0px) ;
        transform-style: preserve-3d;
        padding:30px;
    }
    .call:hover .number{
        opacity:0;
        left:50px;
        transform:translate3d(0px, 0px, 0px);
        transform-style: preserve-3d;
        padding:30px;
    }
}

@media only screen and (max-width: 600px) {
    .number {
        position: absolute; 
        left:-50px;
        transition: 0.4s;
        opacity: 0;
        padding:30px;
        transform:translate3d(0px, 0px, 0px);
        transform-style: preserve-3d;
    }
    .call:hover .number{
        opacity:0;
        left:0;
        transform:translate3d(0px, -100px, 0px);
        transform-style: preserve-3d;
        padding:30px;
    }
    .close {
        position: absolute;
        opacity:0;
        right:0px;
        transition:0.4s;
        transform: translate3d(0px,-100px,0px);
        transform-style :preserve-3d;
        padding:30px;
    }
    
    .closeH {
        position: absolute;
        opacity:1;
        right:0px;
        transition: 0.4;
        transform: translate3d(10px,0px,0px);
        transform-style :preserve-3d;
        padding:30px;
    }
}







